html
  head
    link(type="text/css",href="libs/jquery-ui-1.8.16.custom/css/ui-lightness/jquery-ui-1.8.16.custom.css",rel="stylesheet") 
    script(src="https://browserid.org/include.js")
    script(src="libs/jquery-ui-1.8.16.custom/js/jquery-1.6.2.min.js")
    script(src="libs/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js")
    script(src="https://crypto-js.googlecode.com/files/2.2.0-crypto-md5.js")
    script(src="libs/agility.js")
    script(src="javascripts/main.js")
    link(rel="stylesheet",type="text/css",href="http://yui.yahooapis.com/combo?2.9.0/build/slider/assets/skins/sam/slider.css&2.9.0/build/colorpicker/assets/skins/sam/colorpicker.css") 
    script(type="text/javascript",src="http://yui.yahooapis.com/combo?2.9.0/build/yahoo-dom-event/yahoo-dom-event.js&2.9.0/build/animation/animation-min.js&2.9.0/build/dragdrop/dragdrop-min.js&2.9.0/build/slider/slider-min.js&2.9.0/build/element/element-min.js&2.9.0/build/colorpicker/colorpicker-min.js")
    #script(src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
  body
