html
  head
    link(type="text/css",href="libs/jquery-ui-1.8.16.custom/css/ui-lightness/jquery-ui-1.8.16.custom.css",rel="stylesheet") 
    script(src="https://browserid.org/include.js")
    script(src="libs/jquery-ui-1.8.16.custom/js/jquery-1.6.2.min.js")
    script(src="libs/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js")
    script(src="https://crypto-js.googlecode.com/files/2.2.0-crypto-md5.js")
    script(src="libs/agility.js")
    script(src="javascripts/main.js")
    script(src="farbtastic/farbtastic.js")
    link(rel="stylesheet",href="farbtastic/farbtastic.css",type="text/css")
    #script(src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
  body
