div#unlogged
  .container
    .hero-unit
      h1 100 days until xmas



  
script(src="https://browserid.org/include.js")
script(src="javascripts/jquery.js")
script(src="https://crypto-js.googlecode.com/files/2.2.0-crypto-md5.js")
script(src="javascripts/main.js")
script(src="http://pagead2.googlesyndication.com/pagead/show_ads.js")

div#loggedinDiv