div#you

div#unlogged
        a.btn#login sign up &raquo;

script(src="https://browserid.org/include.js")
script(src="javascripts/jquery.js")
script(src="https://crypto-js.googlecode.com/files/2.2.0-crypto-md5.js")
script(src="javascripts/main.js")

